
<!DOCTYPE html>
<html>
<head>
  <title>Ajouter Utlisateur</title>
</head>
<body>
  <div class="container" #printSection>
    <div class="header"> 
      <div class="title">Ajouter Utilisateur</div>  
      <button class="btn btn-primary mt-3 btn-print" (click)="printPage()">Imprimer</button>
    </div>
    <div class="form first">
      <div class="details">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="username" id="username" formControlName="username" class="form-control" placeholder="Entrez le nom d'utlisateur" />
            <div *ngIf="addUserForm.get('username')?.invalid && addUserForm.get('username')?.touched" class="text-danger">
              le nom d'utlisateur invalide.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Entrez le mot de passe" />
            <div *ngIf="addUserForm.get('password')?.invalid && addUserForm.get('password')?.touched" class="text-danger">
              Le mot de passe est requis.
            </div>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Rôle</label>
            <select id="role" formControlName="role" class="form-select">
              <option value="">-- Sélectionnez un rôle --</option>
              <option value="admin">Admin</option>
              <option value="user">Utilisateur</option>
            </select>
            <div *ngIf="addUserForm.get('role')?.invalid && addUserForm.get('role')?.touched" class="text-danger">
              Le rôle est requis.
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="addUserForm.invalid">Ajouter Utilisateur</button>
        </form>
      </div>
    </div>
  </div>
</body>