<div class="container mt-5">
  <h2>Autres informations pour l'employé : {{ Nom_Et_Prenom_Employee }} (Matricule: {{ matr }})</h2>

  <!-- Form -->
  <form [formGroup]="autresForm" (ngSubmit)="onSubmit()">
    <!-- Date de début -->
    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date de début de la période</label>
      <input
        type="date"
        id="dateDebut"
        formControlName="dateDebut"
        class="form-control"
      />
    </div>

    <!-- Date de fin -->
    <div class="mb-3">
      <label for="dateFin" class="form-label">Date de fin de la période</label>
      <input
        type="date"
        id="dateFin"
        formControlName="dateFin"
        class="form-control"
      />
    </div>

    <!-- Sélectionner l'état -->
    <div class="mb-3">
      <label for="etat" class="form-label">Sélectionner l'état</label>
      <select id="etat" formControlName="etat" class="form-select">
        <option *ngFor="let option of etatOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-dark" style="background-color: black;" (click)="retour()">Retour</button>
      <button type="submit" class="btn btn-success" [disabled]="autresForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>
