<ul class="nav-list">
  <li class="nav-list-item">
    <a routerLink="ajouter-utlisateur">
      <i class='bx bx-user-plus'></i>
      <span class="link_name">Ajouter Utlisateur </span>
    </a>
  </li>
  <li class="nav-list-item">
    <a routerLink="liste-utlisateurs">
      <i class='bx bx-list-ul'></i>
      <span class="link_name">Liste Utlisateurs</span>
    </a>
  </li>
  <li class="nav-list-item">
    <a routerLink="ajouter-employee">
      <i class='bx bx-user-plus'></i>
      <span class="link_name">Ajouter Employe</span>
    </a>
  </li>
  <li class="nav-list-item">
    <a routerLink="liste-employee">
      <i class='bx bx-list-ul'></i>
      <span class="link_name">Liste Employe</span>
    </a>
  </li>
  <li class="nav-list-item">
    <a routerLink="Pointage">
      <i class='bx bxs-calendar-alt'></i>
      <span class="link_name">Pointage</span>
    </a>
  </li>
  <li class="nav-list-item">
    <a routerLink="historique-pointage">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span class="link_name">historique pointage</span>
    </a>
  </li>
  <li class="nav-list-item">
    <a routerLink="recap">
      <i class='bx bx-receipt'></i>
      <span class="link_name">Recap</span>
    </a>
  </li>
</ul>
